*{
    margin: 0;
    padding: 0;
}

.card{
    background-color: black;
}

.carousel {
    margin: 50px;
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-rows: 10% 100% 20%;
    grid-auto-flow: row;
    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
}

.bodyStile {
    background-color: black;
    color: #faebd7;
}

.divDisco {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px;
    justify-content: space-evenly;
    align-content: stretch;
}

.divShadow{
    display: inline-block ;
    border-style: inherit;
    border-radius: 15px;
    box-shadow: rgba(66, 66, 66, 0.45) 0px 25px 20px -20px;
}

.header {
    grid-area: header;
    
}

.formStyle{
    display: flex;
    justify-content: center;
    align-items: center;
}

.formStyle input{
    margin: 5px;
}

.footer {
    grid-area: footer;
    display: grid;
    height: 208px;
    width: 100%;
}

.footer ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.footer span {
    margin: 10px;
    padding: 5px;
}

.footer li {
    margin: 20px;
}

.footer form,
.footer ul {
    background-color: rgb(45, 48, 51);
}

.fotoPortada {
    display: grid;
    max-width: 1900px;
    min-width: 320px;
    margin: auto;
}

.fotoPortada img {
    width: 100%;
}

.header {
    grid-area: header;
    
}

.main {
    grid-area: main;
}

.portadaShows{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.secciones {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.showStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
}

.subtitulo {
    text-align: center;
    margin: 20px;
    padding: 10px;
}

.textoLargo {
    margin: 10px;
    padding: 10px;
}

.videoContenedor {
    margin: 20px;
    position: relative;
    overflow: hidden;
}

.volver {
    display: grid;
    margin: 50px;
    padding: 10px;
    justify-content: center;
}

.volver a {
    text-decoration: none;
    color: antiquewhite;
}

.volver a:hover {
    font-weight: 1000;
    color: rgb(45, 48, 51);
}

@media (max-width: 480px) {
    .fotoPortada img {
        display: none;
    }
    .formStyle {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .videoContenedor iframe {
        width: 100%;
        height: 100%;
    }
    .showStyle img{
        display: none;
    }
    .portadaShows img{
        display: none;
    }
}